<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    
    <header>
        <nav id="header-nav" class="navbar shadow-lg">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="#">
                    <img src="https://store.akamai.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016" width="176" height="44">
                </a>
                <ul class="d-flex align-items-center mb-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">NEGOZIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">COMUNITA'</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">INFORMAZIONI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">ASSISTENZA</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-success mx-5"><i class="bi bi-download"></i> Installa Steam ora</button>
            </div>
        </nav>
    </header>
    
    
    <main>
        <section id="jumbotron">
            <div class="container">
                <nav id="jumbo-nav" class="navbar navbar-expand-lg my-5 shadow>
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><i class="bi bi-steam"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active text-white" aria-current="page" href="#">Il tuo Negozio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Novita' e tendenze</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Negozio dei punti</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Notizie</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">Laboratori</a>
                                </li>
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Cerca" aria-label="Cerca">
                                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        
        <!-- * Carousel -->
        <div id="root" class="container py-5">
            <h1 class="text-white text-center">Giochi in evidenza disponibili ora</h1>
            <div id="carousel" class="shadow">
                <i class="bi bi-arrow-left-circle-fill" id="prev" @click="goToPrev"></i>
                <div class="gallery">
                    <img v-for="(img, i) in images" :src="img.image" alt="img.title" :class="{active : currentIndex === i}">
                </div>
                <i class="bi bi-arrow-right-circle-fill" id="next" @click="goToNext"></i>
            </div>
            <div id="thumbnails" class="d-flex align-items-center justify-content-center my-3">
                <img v-for="(img, i) in images" :src="img.image" alt="img.title" :class="{active : currentIndex === i}">
            </div>
        </div>
        <div class="container py-5">
    
    
    
            <!-- !Banner (took from Steam official page) -->
            <section id="banner">

                <h2 class="banner-title text-center text-white"> Acquista uno dei nostri prodotti</h2>
                <div class="banner d-flex justify-content-center">
                    <a href="https://store.steampowered.com/app/1675200/Steam_Deck/?utm_source=steamhome&amp;snr=1_4_4__147"
                        class="hardware_steamdeck_banner ds_no_flags" data-ds-appid="1675200" data-ds-itemkey="App_1675200"
                        data-ds-crtrids="[4]"
                        onmouseover="GameHover( this, event, 'global_hover', {&quot;type&quot;:&quot;app&quot;,&quot;id&quot;:1675200,&quot;public&quot;:1,&quot;v6&quot;:1} );"
                        onmouseout="HideGameHover( this, event, 'global_hover' )">
                        <img class="steamdeck_banner_desktop"
                            src="https://cdn.akamai.steamstatic.com/steam/clusters/sale_autumn2019_assets/54b5034d397baccb93181cc6/deck_banner_desktop_italian.gif?t=1684346213"
                            alt="Steam Deck">
                    </a>
                    <img src="https://cdn.akamai.steamstatic.com/store/home/store_index_promo.jpg" alt="Valve Index">
                </div>
                <div class="my-5">
                    <h2 class="text-white text-center py-3"> Gioca ovunque dove vuoi, quando vuoi</h2>
                    <video width="100%" height="auto" autoplay="" playsinline="" poster="" loop="">
                        <source
                            src="https://cdn.akamai.steamstatic.com/steamdeck/images/video/trailerloop_short.mp4?origin=https://store.steampowered.com/"
                            type="video/mp4">
                        <source
                            src="https://cdn.akamai.steamstatic.com/steamdeck/images/video/trailerloop_short.webm?origin=https://store.steampowered.com/"
                            type="video/webm">
                    </video>
                </div>
            </section>
        </div>
    </main>

    <!-- Footer -->
    <section id="upper-footer" class="text-center text-white py-3">
        <div class="container">
            <h5>Vuoi dei consigli?</h5>
            <p>Accedi per vedere i consigli personalizzati</p>
            <button class="btn btn-success"> ACCEDI</button>
        </div>
    </section>
    <section id="lower-footer">
        <div class="container text-center text-white py-5">
            <div class="fs-1"><i class="bi bi-steam"></i> Steam</div>
            <span>Tutti i diritti sono riservati a Valve, questa non e' la pagina ufficiale di steam</span>
        </div>
    </section>

</body>
</html>